.status-bar {
    width: 100%;
    height: 1.4em;
    padding: 0 0.4em;
    background-color: cornflowerblue;
    color: white;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.status-bar section {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.status-bar section:last-of-type {
    justify-content: flex-end;
}
.status-bar section a {
    color: white;
    background-color: transparent;
    padding: 0 0.4em;
}
.status-bar section a:hover {
    background-color: rgba(71, 125, 224, 0.5);
}
.status-bar section #notifications {
    position: relative;
    top: -16em;
    left: 5em;
    width: 20em;
    min-height: 18em;
    color: white;
    background-color: #121212;
}