@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
